run = "cd subcal2 && npm install --silent && npm run dev"
entrypoint = "subcal2/package.json"

[env]
PORT = "3000"
NEXT_TELEMETRY_DISABLED = "1"
NODE_OPTIONS = "--max_old_space_size=2048"

[interpreter]
command = ["/bin/bash", "-lc"]

[packager]
packageManager = "npm"
