@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color-scheme: light dark;
  }
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-50;
  }
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}
